{% extends 'globus-portal-framework/v2/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="row">
    <div class="col">
      <h2 class="text-center">{{ project_title }}</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col"></div>
    <div class="col-10">
      <div>
        <h1 class="text-center">{% block checkout_title %}Start your Flow{% endblock %}</h1>
        <div class="card">
          <div class="card-body">

            <form method="post" action="{{ flow_action_url }}">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn mb-2 btn-primary">Start Flow</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
          var computeSelect = document.getElementById('id_compute_endpoint');  // Adjust the ID as necessary
          var lpField = document.getElementById('id_lp_orchestration_server_uuid');  // Adjust the ID as necessary
  
          function toggleLpField() {
              if (computeSelect.value == '58fb6f2d-ff78-4f39-9669-38c12d01f566') {
                  lpField.style.display = '';
              } else {
                  lpField.style.display = 'none';
              }
          }
  
          // Event listener for changes on the compute endpoint select field
          computeSelect.addEventListener('change', toggleLpField);
  
          // Initial check in case the form is re-rendered with selected values
          toggleLpField();
      });
  </script>
</div>

{% endblock %}
